// @name Footer
// @description All footer styles

.footer {
    padding: ($spacer * 2) $spacer;
    text-align: center;
    border-top: 1px solid #edefee;
    background: #EEE;

    &__title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    &__subtitle {
        font-size: 0.8rem;
        text-transform: capitalize;
    }

    &__contact {
        font-size: 0.8rem;
        color:#666;

        a {
          background: none;
          text-decoration: none;
          color: #666!important;
        }
    }
}
