// @name Repos
// @description Sample GitHub repos

.repos {
  width: 100%;
  display: block;
  a {
    text-decoration: none;
    background: none;
  }

  h4 {
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-bottom: 0.3rem;
  }
  h5, h6 {
    font-weight: normal;
    font-size: 0.7rem;
    padding-left: 1rem;
    color: #888;
  }
}

.repo {
  box-sizing: border-box;
  float: left;
  width: 32%;
  background:#EEE;
  padding-bottom: 1rem;
  margin: 0 2% 2% 0;
  img {
    width: 100%;
    border: 1px solid #EEE;
    margin-bottom: 0.3rem;
  }
  &:hover {
    background: #DDD;
    img {
      border: 1px solid #DDD;
    }
  }
}

.repo:nth-child(3n) {
  margin-right: 0;
}

.repo:last-child {
  margin-bottom: ($spacer * 4);
  h4 {
    text-align: center;
    color:#999;
    padding-left: 0;
    margin-top: -0.4rem;
    padding-bottom: 0.7rem;
  }
  h6 {
    color: rgba(0,0,0,0);
  }
}
@media screen and (max-width:640px) {
  .repo {
    width: 48%;
  }
  .repo:nth-child(2n) {
    margin-right: 0;
  }
  .repo:nth-child(3n) {
    margin-right: 2%;
  }
}

@media screen and (max-width:400px) {
  .repo {
    width: 100%;
    margin-bottom: 0.7rem;
  }
  .repo:nth-child(2n) {
    margin-right: 0;
  }
  .repo:nth-child(3n) {
    margin-right: 0%;
  }
}
